#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile {
    width: 87.273px;
    height: 87.273px;
    object-fit: cover;
    border-radius: 50%;
    margin-block: 120px 56px;
    border: 2px solid var(--red);
    padding: 4px;
  }
  .presentation {
      display: flex;
      max-width: 680px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    span {
      font: var(--subtitle);
      font-family: var(--font-inconsolata);
      color: var(--gray-500);
    }
    span .name {
      color: var(--red);
    }
    h1 {
      font: var(--title-lg);
      color: var(--gray-600)
    }
    p {
      margin-block: 20px 80px; 
      font: var(--text-sm);
      color: var(--gray-400);
    }
  }
  #badge {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    ul {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    ul li {
      display: flex;
      flex-direction: row;
      padding-block: 8px;
      padding-inline: 16px;
      background-color: var(--gray-300);
      border-radius: 45px;
      justify-content: center;
      align-items: center;
      margin-bottom: 94px;
      gap: 8px
    }
    ul li:hover {
      border: 1px solid var(--blue);
    }
    ul li img {
      width: 24px;
    }
    .github {
      filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(180deg) brightness(94%) contrast(86%);
    }
    .html {
      filter: invert(28%) sepia(58%) saturate(3291%) hue-rotate(316deg) brightness(94%) contrast(97%);
    }
    .css {
      filter: invert(53%) sepia(86%) saturate(743%) hue-rotate(167deg) brightness(97%) contrast(94%);
    }
    .js {
      filter: invert(78%) sepia(60%) saturate(339%) hue-rotate(339deg) brightness(99%) contrast(96%);
    }
    .react {
      filter: invert(53%) sepia(86%) saturate(743%) hue-rotate(167deg) brightness(97%) contrast(94%);
    }
    .node {
      filter: invert(79%) sepia(48%) saturate(551%) hue-rotate(39deg) brightness(83%) contrast(81%);
    }
  }
  
}