#jobs {
  display: flex;
  padding: 72px 120px 144px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background-color: var(--gray-200);
  width: 1366px;
  margin: 0 auto;
  & header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    & span {
      color: var(--red, #E3646E);
      text-align: center;
      /* Subtitle */
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: var(--colors-base-black, #000);
      font-family: var(--font-inconsolata);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 24px */
    }
    & h2 {
      font-family: Maven Pro;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 60px */
      letter-spacing: 0em;
      text-align: center;
      color: var(--gray-600);
    }
  }
  #projects > div > img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
  }
  #projects > div > h3 {
    font-family: Asap;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    color: var(--gray-600);
  }
  #projects > div > p {
    font: var(--text-sm);
    color: var(--gray-500)
  }
}