#services {
  display: flex;
  padding: 5.5rem 7.5rem 7.5rem 7.5rem;
  /* padding: top right bottom left */
  gap: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-100);
  width: 100%;
  max-width: 85.375rem;
  margin: 0 auto;
}

#services header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5rem;
  /* Convertido de 24px para rem */
  flex-wrap: wrap;
}

#services>.cards>.grid-item {
  display: flex;
  width: 17.5rem;
  /* Convertido de 280px para rem */
  height: auto;
  padding: 1.25rem;
  /* Convertido de 20px para rem */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 0.75rem;
  /* Convertido de 12px para rem */
  border: 0.125rem solid var(--gray-200);
  /* Usando a variável para borda */
  transition: all 0.3s ease;
}

#services>.cards>.grid-item:hover {
  border-color: var(--hover-color);
}

#services>.cards>.grid-item>div {
  width: 3rem;
  /* Convertido de 48px para rem */
  height: 3rem;
  /* Convertido de 48px para rem */
  display: flex;
  justify-content: center;
  align-items: center;
}

#services>.cards>.grid-item h3 {
  color: var(--gray-600);
  /* Usando a variável de cor */
  font-family: Asap;
  font-size: 1rem;
  /* Convertido de 16px para rem */
  font-style: normal;
  font-weight: 700;
  line-height: 1.2rem;
  /* Convertido de 19.2px para rem */
  margin-block: 1.25rem 0.5rem;
  /* Convertido de 20px 8px para rem */
}

#services>.cards>.grid-item p {
  color: var(--gray-500);
  /* Usando a variável de cor */
  margin-top: 0px;
  font-family: var(--font-maven);
  /* Usando a variável de fonte */
  font-size: 0.875rem;
  /* Convertido de 14px para rem */
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  /* Convertido de 19.6px para rem */
}

/* Melhoria na responsividade */

@media (max-width: 64rem) {
  #services {
    padding: 4rem 3rem;
  }

  .cards {
    gap: 2rem;
  }

  #services>.cards>.grid-item {
    width: 45%;
  }
}

@media (max-width: 48rem) {
  #services {
    padding: 3rem 2rem;
  }

  .cards {
    gap: 1.5rem;
  }

  #services>.cards>.grid-item {
    width: 100%;
    padding: 1rem;
  }
}